<!DOCTYPE html><html>
    <head>
        <title>My Home Page - Pypy</title>
    </head>
    <body>
        <h1>Manipulating HTML with Python!</h1>
        <!--
            Note this. It is like a placholder
            that will be replaced by a value I pass in via python
        -->
        <!-- Writing Python Code in inner HTML -->
        <!-- Receiving a list of items and looping through them and displaying them on page -->
        {% for name in content %}
            <p>name: {{names}}</p>
        {% endfor %}
    </body>
</html>