<!DOCTYPE html><html>
    <head>
        <title>My Home Page - Pypy</title>
    </head>
    <body>
        <h1>Manipulating HTML with Python!</h1>
        <!--
            Note this. It is like a placholder
            that will be replaced by a value I pass in via python
        -->
        <!-- Writing Python Code in inner HTML -->
        {% for x in range(10) %}
            {%if x % 2 == 1%}
            <!-- This prints x without evaluating: -->
                <p>x</p>
            <!-- THis prints x after evaluating to give value: -->
                <p>{{x}}</p>
            {%endif%}
            <p>{{word}}</p>
        {% endfor %}
    </body>
</html>