altgraph==0.17.4
asyncgui==0.6.3
asynckivy==0.6.3
certifi==2024.7.4
charset-normalizer==3.3.2
contourpy==1.2.1
cycler==0.12.1
docutils==0.21.2
ffpyplayer==4.5.1
fonttools==4.53.1
idna==3.7
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.7.0
Kivy-examples==2.3.0
Kivy-Garden==0.1.5
kivy-garden.mapview==1.0.6
kivy_matplotlib_widget==0.12.4
kivymd @ https://github.com/kivymd/KivyMD/archive/master.zip#sha256=16aac37c1f54ea0ba6970d478ee9fba286ff916fd0f30186cd96b44e577eb479
kiwisolver==1.4.5
mapview==1.0.6
materialyoucolor==2.0.9
matplotlib==3.9.2
mysql-connector==2.2.9
mysql-connector-python==9.0.0
mysql-connector-python-rf==2.2.2
numpy==2.1.0
packaging==24.1
pefile==2023.2.7
pillow==10.4.0
psycopg2==2.9.9
pyenchant==3.2.2
Pygments==2.18.0
pyinstaller==6.9.0
pyinstaller-hooks-contrib==2024.7
pyparsing==3.1.2
pypiwin32==223
python-dateutil==2.9.0.post0
pywin32==306
pywin32-ctypes==0.2.2
requests==2.32.3
setuptools==72.1.0
six==1.16.0
urllib3==2.2.2
