:root
{
    --navbarBGColor: rgb(12, 12, 12);
    --navFontColor1: silver;
    --navFontColor2: gainsboro;
    --navFontColor3: whitesmoke;
    --navFontColor4: darkgrey;
}


.NavbarItems
{
    list-style:none;
    overflow:hidden;
}

#SideNavbarContent
{
    /* max-height: 100svh; */
    background-color: var(--sideNavbarBGColor);
    width: auto;
    /* border: 5px solid red; */
    padding: 0px; margin: 0px;
    height: 100%;
}

#SideNavbarContent nav.NavbarItems
{
    /* border: 3px solid salmon; */
    margin: 0px;
    padding: 0%;
    display: grid;
    gap: 2.5rem;
    grid-template-columns: 1fr;
    grid-auto-flow: row;

    padding-block: 2rem;
    font-size: 2rem;
}

#SideNavbarContent nav.NavbarItems :nth-child(n)
{
    /* border: 3px solid green; */
    margin: 0px;
    padding: 0% 0% 0% 3.5%;
}

#SideNavbarContent nav.NavbarItems :nth-child(n):hover
{
    color: var(--sideNavbarAnchorColHover);
    background-color: var(--sideNavbarAnchorBGColHover);
    
}

/* Side Navbar Button */
button#SideNavbarToggleButton
{
    position: relative;
    width: 20%;
    height: auto;
    inset: 0%;
    margin: 0% 0% 0% 2.5%;
    padding: 0%;

    display: grid;
    place-items: center;
}


button#SideNavbarToggleButton.Round
{
    border-radius: 15px;
}
button#SideNavbarToggleButton.Long
{
    width: 100%;
    border-radius: 0%;
    margin: 0%;
}